*.cache
*.il
*.exp
*.lib
*.log
*.orig
*.zip
*.DSESafeDelTmpFile
*.FileListAbsolute.txt
.localhistory/
*.postsharp
PostSharp/

[Bb]in/
[Oo]bj/
*.user
*.ncb
*.sdf
*.opensdf
*.suo
ipch/
[Dd]ebug/
[Rr]elease/
*.dmp

*.scc
*.vssscc
*.vspscc

.svn/

*~
*.log
*..mrg

deploy/

[Tt]est[Rr]esult.xml
IntegrationTests.VisualState.xml

UpgradeLog.XML
_UpgradeReport_Files/

Thumbs.db
EDoc2.Website/Log/
EDoc2.Website/Logs/
EDoc2.WebApiServer/Logs/
EDoc2.Website/temp/
EDoc2.Website/FaxOut/
EDoc2.Website/UserFace/
EDoc2.Website/OCR/Image
EDoc2.WebApiServer/*.txt
EDoc2.WebApiServer/Temp
EDoc2.WebApiServer/wwwroot/.idea

*.ReSharper.user
_ReSharper.EDoc2/*
EDoc2.Report/_ReSharper.EDoc2.Report/*

*/_ReSharper.EDoc2Client/*

*.tmp

deploy/

[Tt]est[Rr]esult.xml
IntegrationTests.VisualState.xml
UpgradeLog*
UpgradeLog.XML
UpgradeLog*.XML
_UpgradeReport_Files/

Thumbs.db

UpgradeLog.htm
packages/*
/.vs
*/.vs/*
EDoc2.WebApiServer/wwwroot/Uploadfile/TeamIcon/*
Logs
1.txt

**/node_modules/*
**/wwwroot_publish/*
**/wwwroot/scripts/built/*
**/.vscode/*
**/publish/*
db.lock
storage.ide

# OSX
#
.DS_Store

# Xcode
#
app/edoc2/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
app/edoc2/DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
app/edoc2/build/
.idea
.gradle
local.properties
*.iml

# node.js
#
app/edoc2/node_modules/
npm-debug.log
yarn-error.log

# BUCK
app/edoc2/buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle
~            
