<p class="MsoNormal" align="center" style="text-align:center;">
	<b>“我要去度假”房东规则<span></span></b>
</p>
<p class="MsoNormal">
	<b>一、关于房型和房价<span></span></b>
</p>
<p class="MsoNormal">
	1、甲方应指定专人负责甲方房源在乙方平台上的日常经营。甲方给予乙方的房价不得高于甲方前台执行价，若甲方前台执行价调价时，须提前<span>24</span>小时通知乙方并在平台修改价格，否则由甲方承担乙方及客人的所有损失。若甲方协议价上涨但未及时通知乙方并在平台修改，则仍按平台原显示价格进行房间预订。<span></span>
</p>
<p class="MsoNormal">
	2、自合同签署日起，甲方应指定专人负责此项事宜并应事先通知乙方指定的专门联系人，进入乙方“我要去度假”网络平台注册进行实名认证提交申请，乙方后台会按照乙方“房源规则”审核房间，审核通过后，甲方专人应妥当保管账户密码。任何使用该帐户及密码登陆乙方“我要去度假”网站所做出的操作都视为甲方行为，甲方对此承担一切责任。<span></span>
</p>
<p class="MsoNormal">
	3、自合同签署日起，乙方向甲方收取一定的平台技术支持费。房客在乙方平台预定甲方房间并成功入住，交易成功。我们按实际交易成功的总额（不包括甲方单独收取的押金）的<span>10%</span>收取技术服务费。<span></span>
</p>
<p class="MsoNormal">
	4、房源在平台发布，则本合同永久有效。期满后若双方未书面提出终止合作，则按最近合同价格顺延。任意一方可以以书面形式提前一个月要求终止合作。<span></span>
</p>
<p class="MsoNormal">
	<b>二、关于客房预订<span></span></b>
</p>
<p class="MsoNormal">
	1、甲方应及时与乙方保持房态的准确性。并且甲方不能进行私下抢客行为，若乙方发现则有权提前终止本协议。<span></span>
</p>
<p class="MsoNormal">
	2、如因甲方原因造成乙方客人不能顺利入住，甲方应免费给客人升级或经客人同意，将其安排至同区域同等或更高等级的酒店，并承担由此产生的额外费用，否则须赔偿客人首晚房费。<span></span>
</p>
<p class="MsoNormal">
	3、如客人要求延住，甲方视当天房态尽量满足乙方客人的要求并通知乙方重新预订，可按乙方原先价格给予续住，并视为乙方业绩。<span></span>
</p>
<p class="MsoNormal">
	<b>三、订房审核<span></span></b>
</p>
<p class="MsoNormal">
	1、房源状态：甲方专员须每天登陆平台，根据甲方实际情况实时更改房源状态。<span></span>
</p>
<p class="MsoNormal">
	2、日审：乙方于第二天上午将前一天的预订单汇总表以及已住店客人情况表发往甲方，由甲方专人填写客人预订信息、入住信息和离店信息，并与当天下午回传乙方，或乙方于第二天上午致电甲方前台，由其正确告之乙方客户的入住信息和离店信息。<span></span>
</p>
<p class="MsoNormal">
	3、预订房间分为两步：<span></span>
</p>
<p class="MsoNormal">
	（<span>1</span>）房客线上预订，提交订单后，支付总房费的<span>100%</span>作为预付订金交付至我要去度假平台。支付成功，系统会向甲方专人发送预订信息，专人需在规定的时间内进入系统根据实际情况进行确认订单。<span></span>
</p>
<p class="MsoNormal">
	（<span>2</span>）房客到店入住时，甲方工作人员视实际情况线下收取房客押金，并在平台“收费说明”里面注明。<span></span>
</p>
<p class="MsoNormal">
	<b>四、对帐<span></span></b>
</p>
<p class="MsoNormal">
	1、对于通过乙方平台线下预订（非线上预订）的现付合作：甲方须于每月<span>5</span>日配合乙方进行入住审核，或甲方通过房客预订时系统发送给甲方专人的短信核对乙方客人入住详细资料。<span></span>
</p>
<p class="MsoNormal">
	2、对于预付合作：乙方定期向甲方提供乙方客人入住详细资料，或乙方通过后台核对甲方客人入住详细资料。<span></span>
</p>
<p class="MsoNormal">
	3、当双方的间夜数有出入时，以甲方收银记录为准，跨月订房则计入下月。<span></span>
</p>
<p class="MsoNormal">
	4、每月<span>10</span>—<span>20</span>号为对账期，经双方核对无误后，乙方在<span>7</span>个工作日内将房费汇入甲方指定帐户。若未能按时汇款，甲方收取乙方每日<span>2</span>‰的滞纳金，逾期超过<span>15</span>天，甲方有权要求乙方赔偿损失。<span></span>
</p>
<p class="MsoNormal">
	5、甲乙双方各自承担各自的税赋。<span></span>
</p>
<p class="MsoNormal">
	<b>五、关于担保订单<span></span></b>
</p>
<p class="MsoNormal">
	&nbsp;&nbsp;&nbsp; 甲方须事先要求乙方提供担保。担保要求必须适用于全部订房中心及甲方自身预订渠道。甲方所有担保订单的房间都须保留到次日<span>12</span>：<span>00</span>，若客人在此时间前到店，甲方没有房间的，则承担一切损失。<span></span>
</p>
<p class="MsoNormal">
	&nbsp;&nbsp;&nbsp; 若客人未到店且乙方收取到客人订金的，将由甲方联系乙方完成退款事宜，此订单不算入甲方成交订单，乙方不收取技术支持费。<span></span>
</p>
<p class="MsoNormal">
	&nbsp;&nbsp;&nbsp; 若客人提前离店，由乙方协助甲方进行线下沟通退款事宜。<span></span>
</p>
<p class="MsoNormal">
	<b>六、违约<span></span></b>
</p>
<p class="MsoNormal">
	&nbsp;&nbsp;&nbsp; 协议双方不得单方面擅自变更或终止本协议。任一方违反本协议或给其他方造成经济或其他损失的，受损一方可依中华人共和国相关法律向合同签署地法院提起诉讼。<span></span>
</p>
<p class="MsoNormal">
	<b>七、禁止贿赂条款<span></span></b>
</p>
<p class="MsoNormal">
	&nbsp;&nbsp;&nbsp; 任何一方保证不向另一方人员，在账外暗中支付任何奖励、报酬或给予回扣以及提供任何礼品或款待。若任一方违反了本条规定，守约方有权以书面形式通知违约方单方终止本合同，同时保留依法采取进一步法律措施的权利，违约方应承担由此给守约方带来的一切损失。<span></span>
</p>
<p class="MsoNormal">
	<b>八、其他<span></span></b>
</p>
<p class="MsoNormal">
	&nbsp;&nbsp;&nbsp; 甲乙双方需合法经营，依法纳税。合作期间，甲方应保证其提供服务的经营场所应具有合法经营资质及符合国家法律法规标准的消防安全设施，若因甲方原因引起的任何纠纷、投诉或政府部门查处，甲方应承担一切责任并及时妥善解决，如造成乙方损失，乙方有权要求甲方赔偿由此造成的直接或间接损失，并有权随时暂停客房预订业务或终止本协议。<span></span>
</p>
<p class="MsoNormal">
	<b>1. </b><b>甲方注册成为乙方的合作伙伴后，即表示同意、认可并接受本协议的条款及协议内容。</b>
</p>
<p class="MsoNormal">
	2. 本协议执行有效期为：甲方接受并同意条款与协议，在乙方平台注册成为乙方合作伙伴后，房源上线期间永久生效。<span></span>
</p>
<p class="MsoNormal">
	3. 本协议可能拥有在线版本<span>PDF</span>格式或传真复印件，且此类形式的协议依然与原件具有相同的效力和约束力。<span></span>
</p>
