@charset "utf-8";
/* goonholiday index.html 2016-12-01 rhg */
.goholiday-header{
	border-bottom: 0;
}
/* goholiday-banner*/
.goholiday-banner{
	position: relative;
	width: auto;
	height: 650px;
}
.goholiday-banner .flex-direction-nav {
	display:none;	
}
@media screen and (max-width:1680px) {
	.goholiday-banner {
		height: 569px;
	}
}
@media screen and (max-width:1600px) {
	.goholiday-banner{
		height: 542px;
	}
}

@media screen and (max-width:1440px) {
	.goholiday-banner {
		height: 488px;
	}
}

@media screen and (max-width:1370px) {
	.goholiday-banner {
		height: 464px;
	}
}
@media screen and (max-width:1280px) {
	.goholiday-banner {
		height: 433px;
	}
}

/*hotviewpoint*/
.hotviewpoint{
	width: 1092px;
	height: auto;
	margin-right: auto;
	margin-left: auto
}
.hvpt-header{
	width: auto;
	height: 120px;
}
.hvpt-title{
	font-weight: lighter;
	font-size: 30px;
	color: #333;
	text-align: center;
}
.hvpt-intro{    
	font-weight: lighter;
	font-size: 20px;
	color:#878686;
	line-height: 32px;
	text-align: center;
}
.hvpt-main{
	width: auto;
	min-height: 382px;
}
.hvpt-main  li{
	float: left;
	width: 360px;
	*width:348px;
	height: auto;
	padding:5px;
	min-height: 382px;
	margin-left: 6px;
	border:1px solid #c9c9c9;
}
.hvpt-main  li:first-child{
	margin-left: 0;
}
.hvptmain-header{
	width: auto;
	height: auto;
	min-height: 235px;
}
.ph229{
	float: left;
	display: block;
	width: 229px;
	height: 235px;
	margin-right: 4px;
}
.ph229 img{
	width: 229px;
	height: 235px;
}
.ph115{
	margin-left: 233px;
	width: 115px;
	height: 235px;
}
.ph115-8{
	float: left;
	width: 115px;
	height: 118px;
}
.ph115-3{
	margin-top: 4px;
	width: 115px;
	height: 113px;
}
.hvptmain-info{
	width: auto;
	height: 124px;
	overflow: hidden;
}
.hvptmain-info h1{
	height: 52px;
	padding-top: 18px;
	font-weight: normal;
	font-size: 18px;
	color: #333;
	line-height: 26px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.hvptmain-info p{
	font-size: 14px;
	color: #828080;
	line-height: 24px;
	text-indent: 28px;
}
.hvpt-footer{
	width: auto;
	height: 85px;
	padding-top: 30px;
} 
.hvpt-viewmore{
	float: right;
	display: block;
	width: 92px;
	height: 25px;
	font-size: 14px;
	color: #fff;
	line-height: 24px;
	text-align: center;
	background: url(../Images/gh-07.png) no-repeat;
}

/*goholiday-house*/
.goholiday-house{
	height: auto;
	min-height: 537px;
	padding-top: 24px;
}
.ghouse-main{
	width: auto;
	height: auto;
}
/*goholiday-adv*/
.goholiday-adv{
	width: 100%;
	height: auto;
	max-height: 300px;
	overflow: hidden;
    margin-top: 50px;
}
.goholiday-adv img{
	display: block;
	width: 100%;
}
/*goholiday-specialty*/
.goholiday-specialty{
	height: auto;
	padding-top: 59px;
}
.ghspecialty-main{
	width: auto;
	height: auto;
}
.ghspecialty-main li{
	float: left;
	width: 249px;
	height: auto;
	margin-left: 28px;
}
.ghspecialty-main li:first-child{
	margin-left: 0;
}
.ghsmain-header,
.ghsmain-header img{
	width: 249px;
	height: 359px
}
.ghsmain-footer{
	padding-top: 16px;
	font-size: 18px;
	color: #878686;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.ghsmain-footer span{
	font-size: 20px;
	color: #ff5d51;
}
.ghspecialty-footer{
	width: auto;
	height: 77px;
}
.ghspecialty-footer .hvpt-viewmore{
	margin-top: 30px;
}
/*goholiday-carlease*/
.goholiday-carlease{
	height: auto;
	min-height: 500px;
	padding-top: 60px;
}
.ghcarlease-main{
	position: relative;
	height: 300px;
}
.ghcarlease-main .flex-viewport{
	width:994px;
	height: 220px;
	margin:0 auto;	
}
.carleaseinfo-mask{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: #000;
	opacity: .6;
	filter: "alpha(opacity=60)";   /* IE 8 */ 
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.carleaseinfo-view{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 11;
}
.ghcarlease-main li{
	cursor: pointer;
}
.ghcarlease-main li:hover .carleaseinfo-view,
.ghcarlease-main li:hover .carleaseinfo-mask{
	display: block;
}
.carleaseinfo-view h1{
	position: relative;
	padding-top: 22px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 500;
	font-size: 24px;
	color:#fbfdfb;
	line-height: 50px;
	text-align: left;
}
.carleaseinfo-view table{
	position: relative;
	width: auto;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 14px;
	color:#fdfcfc
}
.carleaseinfo-view td{
	font-size: 14px;
	color:#fff;
	line-height: 24px;
	text-align: left;
	vertical-align: top;
}
