@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_WeixinLayout.cshtml";
}
<div class="header">
    <h2 class="header-title">修改密码</h2>
</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">原密码</label>
        </div>
        <div class="weui-cell__bd">
            <input id="pwd" class="weui-input" type="password" placeholder="请输入旧的登录密码" />
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">新密码</label>
        </div>
        <div class="weui-cell__bd">
            <input id="newpwd" class="weui-input" type="password" placeholder="请输入新密码" />
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">确认密码</label>
        </div>
        <div class="weui-cell__bd">
            <input id="newpwd2" class="weui-input" type="password" placeholder="再次输入新密码" />
        </div>
    </div>
</div>
<div class="weui-btn-area">
    <input id="submit" type="button" class="weui-btn weui-btn_primary" value="修改密码" />
    <a href="/Weixin/WeUser/UserCenter" class="weui-btn weui-btn_default">返回</a>
</div>
@section footerjs{

    <script type="text/javascript">
        var resetPassword = function () {

            var initPage = function () {
                $("#submit").on("click", function () {
                    submitHandle();
                });
            };
            var submitHandle = function () {
                var pwd = $.trim($("#pwd").val());
                var newpwd = $.trim($("#newpwd").val());
                var newpwd2 = $.trim($("#newpwd2").val());
                var isValid = isValidHandle(pwd, newpwd, newpwd2);
                if (isValid) {
                    $.showLoading('正在处理...');
                    $.ajax({
                        url: '/Weixin/WeUser/ResetPwd',
                        type: 'post',
                        data: { pwd: pwd, newpwd: newpwd },
                        success: function (res) {
                            $.hideLoading();
                            if (res.Status == "ok") {
                                $.toast(res.Msg, function () {
                                    window.location.href = '/Weixin/WeUser/UserCenter';
                                });
                            } else {
                                $.toptip(res.Msg, 'error');
                            }
                        },
                        error: function () {
                            $.hideLoading();
                            $.toptip('发生错误！', 'error');
                        }
                    });
                }
            };
            var isValidHandle = function (pwd, newpwd, newpwd2) {
                var isValid = true;
                if (pwd == '') {
                    $.toptip("请输入旧的登录密码！", "error");
                    isValid = false;
                }
                else if (newpwd == '') {
                    $.toptip("请输入新密码！", "error");
                    isValid = false;
                }
                else if (newpwd2 == '') {
                    $.toptip("两次密码必须填写，且要匹配！", "error");
                    isValid = false;
                }
                else if (newpwd !== newpwd2) {
                    $.toptip("两次密码必须填写，且要匹配！", "error");
                    isValid = false;
                }

                return isValid;
            };
            return {
                init: function () {
                    initPage();
                }
            }
        }();
        $(function () { resetPassword.init(); });
    </script>
}