@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section styles{
    <link href="~/Styles/accountman.css" rel="stylesheet" />
    <link href="~/Framework/layui2/css/layui.css" rel="stylesheet" />
    <style type="text/css">
        .layui-form-label {
            width: 100px;
        }
    </style>
}
@section scripts{
    <script src="~/Scripts/placeholders.min.js"></script>
    <script src="~/Framework/layui2/layui.all.js"></script>
    <script src="~/Scripts/jQuery-Util.js"></script>
}

<div class="navigation">
    <div class="w1080">首页<span>&gt;</span> 店铺中心</div>
</div>

@if (ViewBag.IsLogin)
{
    if (ViewBag.IsPermission)
    {
        <div class="w1080">
            <ul class="layui-nav layui-bg-blue ">
                <li class="layui-nav-item"><a href="/User/UserCenter">店铺信息</a></li>
                <li class="layui-nav-item"><a href="/User/HouseManager">房源管理</a></li>
                <li class="layui-nav-item"><a href="/User/OrderManager">订单管理</a></li>
                <li class="layui-nav-item"><a href="/User/FinanceManager">财务管理</a></li>
                <li class="layui-nav-item"><a href="/User/CommentManager">评论管理</a></li>
                <li class="layui-nav-item layui-this"><a href="/User/ResetPassword">修改密码</a></li>
            </ul>
            <div class="layui-container">
                <div class="layui-row">
                    <div class="layui-col-md10 layui-col-sm10 layui-col-xs10 layui-col-lg10" style="margin-top:5px;">
                        <form id="form1" class="layui-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">原密码</label>
                                <div class="layui-input-block">
                                    <input type="password" class="layui-input" value="" id="pwd" name="pwd" placeholder="请输入旧的登录密码" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">新密码</label>
                                <div class="layui-input-block">
                                    <input type="password" class="layui-input" value="" id="newpwd" name="newpwd" placeholder="请输入新密码" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">确认密码</label>
                                <div class="layui-input-block">
                                    <input type="password" class="layui-input" value="" id="newpwd2" placeholder="再次输入新密码" />
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label"></label>
                                <div class="layui-input-block">
                                    <a href="javascript:;" id="btnSave" class="layui-btn layui-inline" lay-submit lay-filter="save">保存</a>
                                    <a href="/User/UserCenter" class="layui-btn layui-btn-primary layui-inline">取消</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @section footerjs{
            <script type="text/javascript">

                var resetPassword = function () {

                    var initPage = function () {
                        layui.use(['form', 'element', 'layer'], function () {
                            var element = layui.element;
                            var layer = layui.layer;
                            var form = layui.form;

                            //
                            form.render();

                            $("#btnSave").on("click", function () {
                                var pwd = $.trim($("#pwd").val());
                                var newpwd = $.trim($("#newpwd").val());
                                var newpwd2 = $.trim($("#newpwd2").val());
                                if (pwd == '') {
                                    layer.msg("请输入旧的登录密码！", { icon: 0 });
                                    return false;
                                }
                                if (newpwd == '') {
                                    layer.msg("请输入新密码！", { icon: 0 });
                                    return false;
                                }
                                if (newpwd2 == '') {
                                    layer.msg("再次输入新密码！", { icon: 0 });
                                    return false;
                                }
                                if (newpwd != newpwd2) {
                                    layer.msg("两次输入的新密码必须相同！", { icon: 0 });
                                    return false;
                                }
                                var obj = $("#form1");
                                var formData = $.Util.serializeJSON(obj);
                                var loadIndex = layer.load(2);
                                $.ajax({
                                    url: '/User/ResetPwd',
                                    type: 'post',
                                    data: formData,
                                    success: function (res) {
                                        layer.close(loadIndex);
                                        if (res.Status == "ok") {
                                            $("#pwd").val('');
                                            $("#newpwd").val('');
                                            $("#newpwd2").val('');
                                            layer.msg(res.Msg, { icon: 1 });
                                        } else {
                                            layer.msg(res.Msg, { icon: 2 });
                                        }
                                    },
                                    error: function () {
                                        layer.close(loadIndex);
                                        layer.msg("发生错误！", { icon: 2 });
                                    }
                                });
                            });
                        });
                    };
                    return {
                        init: function () {
                            initPage();
                        }
                    }
                }();
                $(function () { resetPassword.init(); });
            </script>
        }
    }
    else
    {
        <p style="text-align: center;">对不起，你无此权限，请联系平台管理员。</p>
    }
}
else
{
    Html.RenderPartial("_NoAuthPartial");
}