@{
    ViewBag.Title = "房源信息管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Framework/webuploader-0.1.5/webuploader.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Framework/PriceCalendarp/css/calendar-price-jquery.min.css" />
    <link href="~/Framework/layer/skin/default/layer.css" rel="stylesheet" />
}

<div ng-app="houseApp" ng-controller="HouseListController" ng-init="initHouseList(1)" class="row col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>房源信息管理 </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <button onclick="houseManager.addHouse()" class="btn btn-danger">发布房源</button>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="row">
            <form id="frmHouseQuery" class="form-horizontal form-label-left">
                <div class="col-md-3"><input type="text" name="houseTitle" class="form-control" placeholder="房源标题" /></div>
                <div class="col-md-2"><input type="number" name="priceMin" class="form-control" placeholder="房源价格(<)" /></div>
                <div class="col-md-2"><input type="number" name="priceMax" class="form-control" placeholder="房源价格(>)" /></div>
                <div class="col-md-5"><button type="button" ng-click="initHouseList(1)" class="btn btn-default">查询</button></div>
            </form>
        </div>
        <div class="x_content">
            <table id="datatable" class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>店铺</th>
                        <th>房源标题</th>
                        <th>房间数</th>
                        <th>面积(㎡)</th>
                        <th>发布时间</th>
                        <th>价格</th>
                        <th>租/售</th>
                        <th>托管(是/否)</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="house in houseList">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ house.ShopName }}</td>
                        <td>{{ house.HouseTitle }}</td>
                        <td>
                            <span ng-if="house.BedroomNum > 0">{{ house.BedroomNum }}室</span>
                            <span ng-if="house.LivingRoomNum > 0">{{ house.LivingRoomNum }}厅</span>
                            <span ng-if="house.ToiletNum > 0">{{ house.ToiletNum }}卫</span>
                        </td>
                        <td>{{ house.HouseSize }}</td>
                        <td>{{ house.CreateTime }}</td>
                        <td>￥{{ house.Price }}</td>
                        <td ng-if="house.IsSell == false">租</td>
                        <td ng-if="house.IsSell == true">售</td>
                        <td ng-if="house.IsTrusteeship == true">是</td>
                        <td ng-if="house.IsTrusteeship == false">否</td>
                        <td ng-if="house.State == -1"><span class="red">已删除</span></td>
                        <td ng-if="house.State == 0"><span class="green">正常显示</span></td>
                        <td ng-if="house.State == 1"><span>未上架</span></td>
                        <td>
                            <a href="/House/HouseDetails/{{ house.ID }}" target="_blank" title="预览" class="fa fa-eye btn-xs"></a>
                            <a href="javascript:;" ng-click="modify(house.ID)" title="修改" class="fa fa-edit btn-xs"></a>
                            <a href="javascript:;" ng-hide="house.State == 1 || house.State == -1" ng-click="down(house.ID)" title="下架" class="fa fa-arrow-circle-o-down btn-xs"></a>
                            <a href="javascript:;" ng-hide="house.State == 0" ng-click="up(house.ID)" title="上架" class="fa fa-arrow-circle-o-up btn-xs"></a>
                            <a href="javascript:;" ng-hide="house.State == -1" ng-click="del(house.ID)" title="删除" class="fa fa-trash btn-xs"></a>
                            <a href="javascript:;" ng-click="openPriceCalendarModal(house)" title="价格日历" class="fa fa-calendar-check-o btn-xs"></a>
                        </td>
                    </tr>
                    <tr ng-if="houseList.length == 0">
                        <td colspan="10" align="center">暂无数据</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div ng-hide="PageModel.TotalPage == 0" class="row col-md-12 col-sm-12">
            <div>
                <ul class="pagination">
                    <li class="paginate_button previous"><a ng-click="initHouseList(1)" href="javascript:;">首页</a></li>
                    <li class="paginate_button"><a ng-click="initHouseList(PageModel.PreviousPage)" href="javascript:;">上一页</a></li>

                    <li class="paginate_button" ng-class="{true: 'active'}[PageModel.CurrentPage ==  pageBar]" ng-repeat="pageBar in PageModel.PageBar">
                        <a ng-click="initHouseList(pageBar)" href="javascript:;">{{ pageBar }}</a>
                    </li>

                    <li class="paginate_button"><a href="javascript:;" ng-click="initHouseList(PageModel.NextPage)">下一页</a></li>
                    <li class="paginate_button next" id="datatable-checkbox_next"><a ng-click="initHouseList(PageModel.TotalPage)" href="javascript:;">尾页</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--价格日历窗口窗口-->
    <div id="PriceCalendarpModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title">价格日历(
                    <span id="ShopName"></span>-<span id="HouseTitle"></span>
                    )</h4>
                </div>
                <div class="modal-body">
                    <div class="containers"></div>
                    <div class="">
                        <div class="capricorncd-date-detailed-settings" style="display: none;z-index:999999999">
                            <div class="cddsw-container">
                                <div class="cddsw-head-wrapper">
                                    <div class="cddsw-title">
                                        0000-00-00
                                    </div>
                                    <a class="cddsw-close"><i></i></a>
                                </div>
                                <ul class="cddsw-form-wrapper clearfix">
                                    @*<li> <label>最多购买数</label> <input name="buyNumMax" type="text" /></li>
                                        <li> <label>最少购买数</label> <input name="buyNumMin" type="text" /></li>*@
                                    <li> <label>当天售价</label> <input name="price" type="text" /></li>
                                    @*<li> <label>景区挂牌价</label> <input name="priceMarket" type="text" /></li>
                                        <li> <label>分销结算价</label> <input name="priceSettlement" type="text" /></li>
                                        <li> <label>建议零售价</label> <input name="priceRetail" type="text" /></li>
                                        <li> <label>返现</label> <input name="cashback" type="text" /></li>
                                        <li> <label>当天库存</label> <input name="stock" type="text" /></li>*@
                                </ul>
                                <fieldset class="cddsw-batch-settings clearfix">
                                    <legend class="bs-title"><b>批量设置</b></legend>
                                    <div class="bs-content">
                                        <lable class="bs-lable">
                                            日期范围
                                        </lable>
                                        <div class="bs-options-wrapper">
                                            <input class="itext" name="startDay" type="text" />
                                            <span class="white-space">-</span>
                                            <input class="itext" name="endDay" type="text" />
                                            <label class="drw-enable"><input name="enableDateRange" type="checkbox" /> 启用</label>
                                        </div>
                                    </div>
                                    <div class="bs-content bs-week-chekbox">
                                        <lable class="bs-lable">
                                            设置星期
                                        </lable>
                                        <div class="bs-options-wrapper">
                                            <label><input name="setWeek" type="checkbox" value="1" /> 周一</label>
                                            <label><input name="setWeek" type="checkbox" value="2" /> 周二</label>
                                            <label><input name="setWeek" type="checkbox" value="3" /> 周三</label>
                                            <label><input name="setWeek" type="checkbox" value="4" /> 周四</label>
                                            <label><input name="setWeek" type="checkbox" value="5" /> 周五</label>
                                            <label><input name="setWeek" type="checkbox" value="6" /> 周六</label>
                                            <label><input name="setWeek" type="checkbox" value="0" /> 周日</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="cddsw-foot-wrapper">
                                    <button class="btn-confirm">启用本设置</button>
                                    <button class="btn-cancel">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!--日历相关-->
    <script src="~/Framework/PriceCalendarp/js/mock-data.js"></script>
    <script src="~/Framework/PriceCalendarp/js/calendar-price-jquery.js"></script>
    <!--日历相关over-->
    <script src="~/Framework/layer/layer.js"></script>
    <script type="text/javascript">
        var houseApp = angular.module('houseApp', []);

        houseApp.controller('HouseListController', function HouseListController($scope, $http) {
            $scope.initHouseList = function (page) {
                var houseTitle = $("input[name=houseTitle]").val();
                var priceMin = $("input[name=priceMin]").val();
                var priceMax = $("input[name=priceMax]").val();
                var data = { page: page, houseTitle: houseTitle, priceMin: priceMin, priceMax: priceMax };

                $http({
                    method: 'POST',
                    url: '/Admin/HouseResource/GetHouseList',
                    data: data
                }).then(function successCallback(response) {
                    var data = response.data.Data;

                    // 格式化时间
                    for (var i = 0; i < data.length; i++) {
                        data[i].CreateTime = jsonDatetimeFormat(data[i].CreateTime);
                    }

                    $scope.houseList = data;
                    $scope.PageModel = response.data;
                }, function errorCallback(response) {
                    layer.alert("系统异常", { icon: 2 });
                });
            }
            //编辑
            $scope.modify = function (id) {
                houseManager.modifyHouse(id);
            }

            // 上架房源信息
            $scope.up = function (id) {
                layer.confirm("确定要上架？", {
                    btn: ["确定", "取消"],
                    btn1: function () {
                        $scope.updateState(id, 0);
                    }
                });
            }

            // 下架房源信息
            $scope.down = function (id) {
                layer.confirm("确定要下架？", {
                    btn: ["确定", "取消"],
                    btn1: function () {
                        $scope.updateState(id, 1);
                    }
                });
            }

            // 删除房源信息
            $scope.del = function (id) {
                layer.confirm("确定要删除吗？", {
                    btn: ["确定", "取消"],
                    btn1: function () {
                        $scope.updateState(id, -1);
                    }
                });
            }

            // 更改房源状态
            $scope.updateState = function (id, state) {
                $http({
                    method: 'POST',
                    url: '/Admin/HouseResource/UpdateHouseStateByID',
                    data: { id: id, state: state }
                }).then(function successCallback(response) {
                    if (response.data.Status == "ok") {
                        layer.alert(response.data.Msg, { icon: 1 }, function () {
                            window.location.reload();
                        });
                    } else {
                        layer.alert(response.data.Msg, { icon: 2 });
                    }
                }), function errorCallback(response) {
                    layer.alert("系统异常", { icon: 2 });
                };
            }

            //打开价格日历窗口
            $scope.openPriceCalendarModal = function (shop) {
                $scope.Shop = shop;
                $("#PriceCalendarpModal").modal();
                PriceSetShow($scope);
            };
            $scope.openeveryPriceModal = function (shop) {
                //$scope.Shop = shop;
                $("#everyPriceModal").modal();
            };
            //保存价格日历
            $scope.savePriceAuto = function (data) {
                var index=layer.load();
                if (!data ||data==[]) {
                    return layer.alert("无改动", { icon: 1 });
                }
                var jsonSdata = JSON.stringify(data)
                $http({
                    method: 'POST',
                    url: '/Admin/HouseResource/SavePriceAuto',
                    data: { PriceAutos: jsonSdata }
                }).then(function successCallback(response) {
                    layer.close(index);
                    updata = [];
                    if (response.data.Status == "ok") {
                        layer.alert(response.data.Msg, { icon: 1 });
                    } else {
                        layer.alert(response.data.Msg, { icon: 2 });
                    }
                }), function errorCallback(response) {
                    layer.alert("系统异常", { icon: 2 });
                }

            }
            //根据店铺id查询价格日历信息
            $scope.getPriceAutoByShopID = function ($scope) {
                var index = layer.load();
                $http({
                    method: 'post',
                    url: '/Admin/HouseResource/GetPriceAutoByShopID',
                    data: { ShopId: $scope.Shop.ID }
                }).then(function successCallback(response) {
                    layer.close(index);
                    var MOCK_DATA = response.data.Data;
                    Calebuild($scope, MOCK_DATA);
                    // $scope.ImgArray = $scope.Shop.ShopImgs.split(',');
                    // $scope.fnUpdateImgInput();
                }, function errorCallback(response) {
                    layer.alert('系统异常', { icon: 2 });
                });
            }
        });
        var updata = [];
        var houseManager = function () {

            addHouseHandle = function (id) {
                layer.open({
                    title: '发布房源',
                    type: 2,
                    area: ['720px', '690px'],
                    fixed: true,
                    content: '/Admin/HouseResource/AddHouseView?id=' + id
                });
            };

            return {
                addHouse: function () {
                    addHouseHandle();
                },
                modifyHouse: function (id) {
                    addHouseHandle(id);
                }
            }
        }();
        //价格日历相关代码

        function PriceSetShow($scope) {
            // 生成模拟数据(请求数据)
            $scope.getPriceAutoByShopID($scope); //createMockData()
        }
        function Calebuild($scope, MOCK_DATA) {
            $("#ShopName").text($scope.Shop.ShopName);
            $("#HouseTitle").text($scope.Shop.HouseTitle);
            var zxCalendar = $.CalendarPrice({
                el: '.containers',
                // startDate: '2017-08-02',
                endDate: '2018-12-20',
                data: MOCK_DATA,
                newData: updata,
                ShopId: $scope.Shop.ID,
                // 配置需要设置的字段名称
                config: [
                    //{
                    //    key: 'buyNumMax',
                    //    name: '最多购买数'
                    //},
                    //{
                    //    key: 'buyNumMin',
                    //    name: '最少购买数'
                    //},
                    {
                        key: 'price',
                        name: '今日售价'
                    },
                    //{
                    //    key: 'priceMarket',
                    //    name: '景区挂牌价'
                    //},
                    //{
                    //    key: 'priceSettlement',
                    //    name: '分销结算价'
                    //},
                    //{
                    //    key: 'priceRetail',
                    //    name: '建议零售价'
                    //},
                    //{
                    //    key: 'cashback',
                    //    name: '返现'
                    //},
                    //{
                    //    key: 'stock',
                    //    name: '当天库存'
                    //}
                ],
                // 配置在日历中要显示的字段
                show: [
                    {
                        key: 'price',
                        name: '当天价格:￥'
                    },
                    //{
                    //    key: 'priceSettlement',
                    //    name: '采:￥'
                    //},
                    //{
                    //    key: 'stock',
                    //    name: '库:'
                    //}
                ],
                callback: function (data) {
                    $scope.savePriceAuto(data);
                    //log('callback ....');
                    //log(data);
                },
                updateDate: function (data) {
                },
                isRealNum: function (key) {
                    if (!key) {
                        layer.alert('价格格式有误', { icon: 2 });
                        return false;
                    }
                    return true;
                },
                cancel: function () {
                    log('取消设置 ....');
                    // 取消设置
                    // 这里可以触发关闭设置窗口
                    // ...
                },
                monthChange: function (month) {
                    log('monthChange: ')
                    log(month)
                    //        var newData = createMockData()
                    //        zxCalendar.update(newData)
                },
                reset: function () {
                    log('数据重置成功！');
                },
                everyday: function (data) {
                    $scope.openeveryPriceModal();
                    //var settingWindow = $(".capricorncd-date-detailed-settings");

                    //// 初始化input[value]
                    //settingWindow.find('.cddsw-form-wrapper [type="text"]').val('');
                    //settingWindow.find('[name="enableDateRange"]').prop('checked', false);
                    //settingWindow.find('[name="setWeek"]').prop('checked', false);

                    //// 用户传入字段
                    //$.each(data, function (key, val) {
                    //    settingWindow.find('[name="' + key + '"]').val(val);
                    //});

                    //// 栏目标题
                    //settingWindow.find('.cddsw-title').html(data["thisDate"]);
                    //settingWindow.find('[name="startDay"], [name="endDay"]').val(data["thisDate"]);

                    //settingWindow.show();
                },
                error: function (err) {
                    console.error(err.msg);
                    alert(err.msg);
                },
                // 自定义颜色
                style: {
                    // 头部背景色
                    headerBgColor: '#2a3f54',
                    // 头部文字颜色
                    headerTextColor: '#fff',
                    // 周一至周日背景色，及文字颜色
                    weekBgColor: '#2a3f54',
                    weekTextColor: '#fff',
                    // 周末背景色，及文字颜色
                    weekendBgColor: '#098cc2',
                    weekendTextColor: '#fff',
                    // 有效日期颜色
                    validDateTextColor: '#333',
                    validDateBgColor: '#fff',
                    validDateBorderColor: '#eee',
                    // Hover
                    validDateHoverBgColor: '#098cc2',
                    validDateHoverTextColor: '#fff',
                    // 无效日期颜色
                    invalidDateTextColor: '#ccc',
                    invalidDateBgColor: '#fff',
                    invalidDateBorderColor: '#eee',
                    // 底部背景颜色
                    footerBgColor: '#2a3f54',
                    // 重置按钮颜色
                    resetBtnBgColor: '#77c351',
                    resetBtnTextColor: '#fff',
                    resetBtnHoverBgColor: '#55b526',
                    resetBtnHoverTextColor: '#fff',
                    // 确定按钮
                    confirmBtnBgColor: '#098cc2',
                    confirmBtnTextColor: '#fff',
                    confirmBtnHoverBgColor: '#00649a',
                    confirmBtnHoverTextColor: '#fff',
                    // 取消按钮
                    cancelBtnBgColor: '#fff',
                    cancelBtnBorderColor: '#bbb',
                    cancelBtnTextColor: '#999',
                    cancelBtnHoverBgColor: '#fff',
                    cancelBtnHoverBorderColor: '#bbb',
                    cancelBtnHoverTextColor: '#666'
                }
                // 点击有效的某一触发的回调函数
                // 注意：配置了此参数，设置窗口无效，即不能针对日期做参数设置
                // 返回每天的数据
                //        everyday: function (dayData) {
                //            console.log('点击某日，返回当天的数据');
                //            console.log(dayData);
                //        },
                // 隐藏底部按钮（重置、确定、取消），前台使用该插件时，则需要隐藏底部按钮
                //        hideFooterButton: true
            });
        }
        log(zxCalendar)
        function log(s) {
            console.log(s)
        }
    </script>
}


